h1 {
  color: orange;
  font-size: 1.5em;
  font family: helvetica, arial, sans-serif;
}

body {
  margin: 10% 10% 10% 10%;
}

.toptopdiv {
  background-color: grey;
  height: 15%;
  width: 100%;
}

.topdiv {
  background-color: white;
  height: 15%;
  width: 100%;
}
.maindiv {
  background-color: grey;
  height: 15%;
  width: 100%;
}
.bottomdiv {
  background-color: white;
  height: 15%;
  width: 100%;
}
