h1 {
  padding: 2% 2% 2% 2%;
  color: orange;
  font-size: 1.5em;
  font-family: helvetica, arial, sans-serif;
}

p {
  font-size: .75em;
  font-family: helvetica, arial, sans-serif;
}

body {
  margin: 3% 3% 3% 3%;
}

.toptopdiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: grey;
  height: 15%;
  width: 100%;
}

.minitoptopdiv1{
  height: 8%;
  background-color: yellow;
  padding: 2% 2% 2% 2%;
}

.minitoptopdiv2{
  height: 8%;
  background-color: white;
  padding: 2% 2% 2% 2%;
}

/*.topdiv {
  background-color: white;
  height: 15%;
  width: 100%;
}*/

.maindiv {
  display: flex;
  /*flex-direction: column;*/
  align-content: center;
  background-color: white;
  height: 100%;
  width: 100%;
}

.leftkeydiv {
  flex-grow: 1;
  background-color: yellow;
  padding: 2% 8% 4% 2%

}

.rightkeydiv {
  outline-color: black;
  outline-style: ridge;
  outline-width: thin;
  padding: 2% 8% 4% 2%;

}
.bottomdiv {
  background-color: grey;
  height: 15%;
  width: 100%;
}
